header
{
    background-color: #27251f;
}

.logo
{
    filter: invert(100%);
    width: 100%;
    height: auto;
}

.image
{
    width: 20%;
}

.presentation
{
    width: 100%;
    height: 100%;
}

.offres
{
    width: 100%;
    height: 100%;
}

.entreprises
{
    width: 100%;
    height: 100%;
}